
.categoryMainBox{
    padding: 7px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15) ;
    background-color: white;
    cursor: pointer;
    width: 100%;
}
.categoryMainBox:hover .categoryBox{
    background-color: rgba(215, 195, 67, 0.72);
}
.categoryMainBox:hover .categoryPrice span ,categoryBoxTitle{
    color:white;
}
.categoryMainBox:hover .categoryBoxTitle{
    color:white;
}
.categoryBoxImage{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.categoryBoxImage img{
    max-width: 100%;
    max-height: 100%;
}
.categoryBox{
    background-color: #fce11e8c;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    overflow-y: auto;
    justify-content: flex-start;
    /*height: 100px;*/
    position: relative;
}
.categoryPrice{
    display: flex;
    flex-direction: column;

}
.categoryPrice span:last-child{
    color: var(--primary);
    font-size: 15px;
    font-weight: bold;
}
.categoryOff{
    color: #F33455;
    text-decoration: line-through;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 35px;
}
.categoryPriceBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}
.categoryBoxTitle{
    color: var(--Dark-color);
    font-size: 14px;
    font-weight: bold;
}
.categoryPriceBtn{
    background-color: aliceblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15) ;
    cursor: pointer;
}

.swiper-button-prev ,.swiper-button-next{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 25px!important;
}
.swiper-container-rtl .swiper-button-prev:after  {
    font-size: 15px;
    color: white;
}
.swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 15px;
    color: white;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #1a202c;
    padding: 3px;
}
.swiper-pagination-bullet-active {
    background: var(--Primary-color)!important;
}




