@import "input.css";
:root {
    --Primary-color: #fada36;
    --Danger-color: #ff2762;
    --Success-color: rgb(46, 204, 113);
    --Info-color: rgb(74, 84, 128);
    --Warning-color: rgb(255, 225, 82);
    --Dark-color: #263238;
    --Text-color: rgba(0, 0, 0, .7);

    /* other var  */
    --primary-shadow : rgba(245, 205, 22, 0.4);
    --box-shadow: 0 0 12px 1px rgba(0, 0, 0, .1);
    --border: rgba(164, 164, 164, 0.22);

}
body::-webkit-scrollbar {
    width: 15px;
}
/* Track */
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray;
    border-radius: 10px;
}
/* Handle */
body::-webkit-scrollbar-thumb {
    background: var(--Primary-color);
    border-radius: 10px;
}

body {
    font-family: Vazir !important;
    font-size: 14px;
    background-color: #ebf0f6;
}
a{
    text-decoration: none;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3, h4,h5, h6 {
    padding: 0;
    margin: 10px 0;
}

.Toastify {
    font-size: 0.8rem;
    font-weight: normal;
}
.Toastify__toast-body {
    font-family: Vazir !important;
    text-align: center;
}
.Toastify__toast--error{
    background-color: var(--Danger-color);
}
.Toastify__toast--success{
    background-color: var(--Success-color);
}
.Toastify__toast--info{
    background-color: var(--Info-color);
}
.green {
    color: var(--Success-color);
}
.red {
    color: var(--Danger-color);
}

.loading-on-btn{
    width: 18px;
    height: 18px;
    border: 3px solid var(--Primary-color);
    border-radius: 50px;
    animation: loading .8s infinite;
    border-top:3px solid white;
    animation-delay: 0s;
}
@media all and (max-width: 600px) {
    .table-responsive {
        width: 100%;
        overflow-x: scroll;
    }
    .table-responsive table{
        width: 1000px;
    }
}